.timelineContainer {
    border-radius: 8px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: rgb(255, 255, 255);
    overflow: hidden;
}

.timelineBase {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    position: relative;
}

.scrollContainer {
    width: 25px;
    height: calc(100vh - 230px);
    position: relative;
    flex-shrink: 0;
    background: rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.scrollContent {
    width: 100%;
    background-color: rgba(56, 56, 56, 0.123);
    min-height: 50px;
    overflow: hidden;
    transition: background-color, border, border-color, opacity 0.2s ease-in-out;
}

.scrollContent:hover {
    background-color: rgba(56, 56, 56, 0.308);
    border-color: rgba(255, 255, 255, 0.137);
}

.scrollContent:active {
    opacity: .5
}

.timeStops {
    position: absolute;
    left: 50px;
    top: 0; /* TBC */
    width: calc(100% - 50px);
    display: flex;
    flex-direction: column;
}

.dataRails {
    position: absolute;
    left: 50px;
    width: calc(100% - 50px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    top: 0;
    height: 100%;
}

.groupedDataRail, .projectDataRail, .calanderDataRail {
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.dataRailHeaderContainer {
    position: fixed;
    left: 50px;
    width: calc(100% - 75px);
    display: grid;
    align-content: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    top: 0;
    font-weight: 100;
    font-size: 11px;
    height: 100%;
    z-index: 500;
}

.dataRailHeader {
    padding: 7px;
    line-height: .6;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    text-align: center;
    bottom: 0;
    border-radius: 5px;
    background-color: rgba(134, 134, 134, 0.178);
}

.categoryItem {
    overflow: hidden;
    box-sizing: border-box;
    width: calc(100% - 20px);
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid rgba(153, 153, 153, 0.336);
    background-color: rgba(102, 102, 102, 0.274);
}

.categoryItem:hover {
    background-color: rgba(160, 160, 160, 0.322);
}

.categoryItem:active {
    opacity: 0.5;
}

.categoryTags {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 8px;
    padding: 5px;
    line-height: 1.2;
    align-content: flex-start;
}

.categoryTag {
    -webkit-user-select: none;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 5px;
    font-weight: 300;
    color: aliceblue;
    background-color: rgba(116, 116, 116, 0.137);
    border: 1px solid rgba(255, 255, 255, 0.24);
}

.categoryTag:hover {
    filter: brightness(1.5);
}

.categoryTag:active {
    filter: brightness(0.8);
}